.formCard {
  border: 1px solid black;
  display: block;
  padding: 20px;
  width: 400px;
}

.formSection {
  display: block;
}

.cardName {
  margin-bottom: 20px;
  text-align: center;
  width: 100%;
}

.cardDescription {
  margin-bottom: 20px;
  width: 100%;
}

.cardAttr1 {
  margin: 20px;
  padding: 10px;
  width: 60%;
}

.cardAttr2 {
  margin: 20px;
  padding: 10px;
  width: 60%;
}

.cardAttr3 {
  margin: 20px;
  padding: 10px;
  width: 60%;
}

.cardImage {
  margin: 20px;
  width: 350px;
}

.cardRare {
  left: 40%;
  margin-bottom: 20px;
  position: relative;
  width: 100px;
}

.cardTrunfo {
  margin-bottom: 20px;
  width: 100%;
}

.save-button {
  background-color: rgb(79, 22, 133);
  border-radius: 5%;
  color: bisque;
  height: 30px;
  left: 30%;
  position: relative;
  width: 150px;
}
